@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), url('./fonts/OpenSans-Light.ttf') format('ttf');
}

html {
  box-sizing: border-box;
  font-size: 67.5%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body, .App {
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 0.01em;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

ul,
ol {
  margin: 0 20px;
  padding: 0;
}

.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
  z-index: 0;
}
#root, .App {
  color:white;
    background:#111;
}



.loading-page {
  position: relative;
  text-align: center;
  height:100vh;
  width:100vw;
}
.loader {
  width: 100%;
  text-align: center;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}
.loader__copy {
  width: 100%;
  text-align: center;
  top: 50%;
  position: absolute;
  transform: translateY(-100%);
  color:#d0d0d0;
  font-size:1em;
}
.app-logo-loading {
  animation: App-logo-spin infinite 20s linear;
  z-index: 0;
  transform: translateY(-50%);
}


/* HEADER */
.app-header {
  background-color: #111;
  color: white;
  text-align: center;
  min-width: 20em;
  padding-top:20px;
}

.app-header__brandwrapper {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.app-header__logo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-header__title {
  font-size: 2.4rem;
  text-align: center;
  margin: 10px;
}

.app-header__subtitle {
  font-size: 1.6rem;
  text-align: center;
  color: #868686;
  margin: 10px 0;
}

.app-header__date {
  font-size: 1.8rem;
  text-align: center;
  margin: 0;
}

.app-heder__completed-tally {
  font-size: 0.8em;
  margin: 5px 0 0;
  color: #32b67a
}
.app-header__light-icon {
  background:transparent;
  color:white;

  border-radius:50%;
}
.app-header__light-icon.light {
  background:#333;

}

.auth {
  display: flex;
}

@media screen and (max-width: 35rem) {
  .auth {
    position: relative;
    text-align: right;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
}
button {
  cursor: pointer;
}
.auth__button {
  border: 2px solid #868686;
  text-transform: uppercase;
  text-align: center;
  height: 70px;
  width: 70px;
  background: none;
  color: #868686;
  border-radius: 50%;
  margin-left: 2px;
}
.auth__button:hover {
  background: #868686;
  color:white;
}
.auth__button--login {
  color: white;
  background: #32b67a;
  border: 2px solid #32b67a;
}
.auth__button--login:hover {
  color: #868686;
  background: #111;
}

.addItemButton {
  position: fixed;
  bottom: 50px;
  right: 50px;
  height: 50px;
  width: 50px;
  display: table;
  padding: 15px;
  vertical-align: middle;
  border: none;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.3);
  color: white;
  cursor: pointer;
  font-weight: 700;
}

/* MAIN */
.Container {
  max-width: 60em;
  width: 90%;
  margin: auto;
}

input,
select {
  font-size: 1em;
  padding: 8px;
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  border: 1px solid #333;
}

input[type="radio"] {
  -webkit-appearance: radio;
  box-sizing: border-box;
  height: 20px;
  border: none;
}

textarea {
  width: 100%;
  max-height: 200px;
  min-height: 60px;
  padding: 10px;
  overflow-y: auto;
  resize: none;
}

:focus {
  outline-color: #1261c8;
}

label {
  font-size: 10px;
  color: #d0d0d0;
  position: absolute;
  top: -15px;
}

.flex {
  display: flex;
}

.flex-start {
  display: flex;
  align-content: flex-start;
}

.mr1 {
  margin-right: 5px;
}

.btn {
  border: none;
  color: white;
  font-size: 1em;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button svg {
  height: 16px;
  width: 16px;
}

.btn-add {
  background: #32b67a;
  border: 2px solid #32b67a;
}

.btn-add:hover {
  background: white;
  border: 2px solid #32b67a;
  color: #333;
}

.btn-cancel {
  background: #e54b4b;
  border: 2px solid #e54b4b;
}

.btn-cancel:hover {
  background: white;
  border: 2px solid #e54b4b;
  color: #333;
}

.btn-circle {
  /* border-radius: 50%; */
  background: #111;
  color: white;
  padding: 10px;
  margin-right: 5px;
}


.btn-green {
  border: 2px solid #32b67a;
}

.btn-red {
  border: 2px solid #e54b4b;
}

.btn-blue {
  border: 2px solid #1261c8;
}

.btn-green:hover {
  background: #32b67a;
}

.btn-red:hover {
  background: #e54b4b;
}

.btn-blue:hover {
  background: #1261c8;
}

.btn__showmore {
  width: 100%;
  background: none;
  border: 1px solid #868686;
  color: #868686;
  font-size: 1em;
}

.btn__showlist-wrapper {
  display: flex;
  margin: 10px 0;
}

.btn__showlists {
  margin-right: 10px;
  width: 100%;
  background: none;
  border: 1px solid #868686;
  color: #868686;
  font-size: 1em;
}

.btn__showlists:last-child {
  margin-right: 0;
}

.btn__showlists:hover {
  background-color: white;
  color: #333;
}
.btn__showlists.active {
  background-color: white;
  color: #333;
}
.btn__showmore:hover {
  background-color: white;
  color: #333;
}

.btn:hover {
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* ITEMS */
/* FORM */
.form__wrapper,
.form-edititem {
  padding: 20px;
}

.form-edititem {
  flex: 1;
  width: 100%;
}

.form-edititem>* {
  margin-bottom: 10px;
}

.form-additem {
  margin-top: 36px;
}

form .btn {
  width: 100%;
}

.formedit_id {
  display: none;
}

.form__wrapper>* {
  margin-bottom: 25px;
  position: relative;
  width: 100%;
}

.item__due-date {
  font-size: 0.6em;
  margin-right: 1rem;
  color: #868686;
}

.overdue {
  color: #e54b4b;
}

.Items p {
  text-align: center;
}

.items-list {
  margin: 10px 0;
}

.items-list p {
  text-align: center;
}

.item__wrapper {
  /* display: flex; */
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1px;
  padding: 10px;
  border-bottom: #d0d0d0 1px solid;
}
/* 
.item__wrapper.hidden {
  background: #111;
  color: white;
}
.item__wrapper.item__priority--1 {
  background: #e54b4b;
  color: white;
}
.item__wrapper.item__priority--2 {
  background: #ffbf00;
  color: white;
}
.item__wrapper.item__priority--3 {
  background: #32b67a;
  color: white;
} */


/* .item__wrapper  {
  pointer-events: none;
} */
.item__topline,
.item__bottomline {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.item__due-date,
.item__name,
.item__downarrow {
  pointer-events: none;
}

.completed-item .item__name {
  text-decoration: line-through;
}

.item__bottomline {
  flex-direction: column;
}

.item__bottomline>.notes {
  padding: 5px 0;
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
  align-items: left;
}

.item__downarrow {
  color: #868686;
  width: 10px;
  align-self: center;
  transition: transform .2s ease-in-out;
}

.capitalize {
  text-transform: capitalize;
}

.notes {
  color: #868686;
  font-size: 0.7em;
}

.notes__content {
  max-height: 220px;
  overflow-y: auto;
}

.list {
  color: white;
}

.form-edititem .list {
  color: #868686;
}

.item__name {
  flex: 20;
  text-align: left;
  align-self: center;
  width: 65%;
  height: 100%;
  overflow-wrap: break-word;
}

.item__priority {
  flex: 1;
  text-align: center;
  align-self: center;
  height: 100%;
  padding: 1em 0;
}

.item__priority--3,
.item__priority--13 {
  border-left: 10px solid #32b67a;
}

.item__priority--2,
.item__priority--12 {
  border-left: 10px solid #ffbf00;
}

.item__priority--1,
.item__priority--11 {
  border-left: 10px solid #e54b4b
}

.item__priority--11,
.item__priority--12,
.item__priority--13 {
  opacity: 0.5;
  position: relative;
}

.button__wrapper {
  display: flex;
  /* width: 50%; */
  align-self: flex-end;
}



/* 
.item__priority--1 button.btn.btn-success.item__complete {
  display: none;
} */
.items__complete {
  color: #7c7c7c;
  text-align: center;
  border-top: 2px dashed #7c7c7c;
  padding-top: 16px;
  margin-top: 16px;
}
.item__complete {
  margin-right:10px;
}
.completed-item {
  opacity: 0.5;
}

.items__search {
  margin: 20px 0;
}

.items__search input {
  padding: 11px 8px;
}

.hidden>.item__bottomline {
  display: none;
}

.rotate {
  transform: rotate(180deg);
  transition: transform .2s ease-in-out;
}

/* MODAL */
.modal__button-exit {
  background: #e54b4b;
  border: 1px solid #e54b4b;
  position: absolute;
  cursor: pointer;
  padding: 12px;
  right: 0;
  top: 0;
  font-weight: 300;
  color: white;
}

.modal__button-exit:hover {
  background: white;
  border: 1px solid #e54b4b;
  color: #333;
}

.modal__button--accept {
  width: 100%;
  background: #32b67a;
  padding: 20px;
  border-radius: 0 0 5px 5px;
}

.modal__button--cancel {
  width: 100%;
  background: #e54b4b;
  padding: 20px;
  border-radius: 0 0 5px 5px;
}

.modal__form--remove-confirm .modal__button--accept {
  border-radius: 0 0 0 5px;
}

.modal__form--remove-confirm .modal__button--cancel {
  border-radius: 0 0 5px 0;
}

.ReactModal__Content input {
  padding: 10px;
  background: white;
  color: #333;
  font-weight: 300;
  width: 100%;
  text-rendering: optimizeLegibility;
}

.ReactModal__Content textarea {
  width: 100%;
  height: 50px;
  padding: 10px;
}

.ReactModal__Content h2 {
  color: white;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

.ReactModal__Content p {
  color: white;
}

.modal__form--inputs {
  text-align: center;
  padding: 20px;
}

.error-message {
  color: #e54b4b !important;
  text-align: center;
  font-style: italic;
  font-size: .8em;
}

footer {
  background: #111;
  text-align: center;
  padding: 20px;
  margin-top: 5rem;
  color: white;
  font-size: 1rem;
}

footer a {
  color: white;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover {
  background: #32b67a;
  border: 1px solid #32b67a;
}
.DayPickerKeyboardShortcuts_show__bottomRight {
  border-top: 26px solid transparent;
  border-right: 33px solid #32b67a;
  bottom: 0;
  right: 0;
}


/* NIGHT MODE EDITS */
#root, .App.light {
  color:#333;
    background:white;
}
.light .app-header {
  background-color: white;
  color: #111;
}
.light .btn-circle {
    background: white;
    color: #333;
}
.light label {
    color: #555;
}
.light .btn__showlists.active, .light .btn__showlists:hover {
    background-color: #333;
    color: white;
}
